<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shit</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body class="h-screen w-screen overflow-hidden bg-slate-200">
    <div class="w-screen h-screen relative">
        <h1>Hello from the Create Page</h1>
    </div>
</body>
<script type="text/javascript">
    //I just want to try something
    const alrt = () => {
        let test = document.getElementById('testing')
        let classes = test.getAttribute('class').split(' ')
        classes[2]='left-0'
        test.setAttribute('class', classes.join(' '))
    }
</script>
</html>